{% extends 'main/base.html' %}
{% load static %}
{% block title %} - Groups  {% endblock title %}
{% block group %}<link rel="stylesheet" type="text/css" href="{% static 'main/group.css' %}">{% endblock %}

{% block body %}
<div class="container-fluid">
    <section>
        <div class="d-flex justify-content-end">
            <a href="{% url 'room:create' %}" class="btn btn-primary">Create Group</a>
        </div>
    </section>
    <section class="basic-grid mt-1 ">
        <div class="card feed">
            {% for group in groups %}
                <a href="{% url 'room:group' group.pk %}">
                    <div class="card group-feed">
                        <p style="margin-top: 0;margin-bottom: 15px;">{{group.name}}</p>
                        <p style="margin-top: 0;margin-bottom: 10px;">{{group.description}}</p>
                    </div>
                </a>
                <hr>
            {% endfor %}
        </div>

        <div class="card feed p-1">
            <h5 class="center mb-0">Group Conservations</h1><hr class="my-2">
            {% for mssage in grp_msgs %}
                <div class="card group-feed message mb-1">
                    <h5 style="display: flex;justify-content: end;">
                        <a href="{% url 'room:group' mssage.room.pk %}">
                            {{mssage.room}}
                        </a>
                    </h5>
                    <div class="d-flex flex-row mt-2">
                        <a href="{% url 'user:profile' mssage.user.pk %}">
                            <img class="rounded-circle" src="{{ mssage.user.profile_pic.url }}" style="object-fit: cover; width: 40px; height: 40px;">
                        </a>
                        <div class="d-flex flex-column mx-2">
                            <a href="{% url 'user:profile' mssage.user.pk %}">{{mssage.user}}</a> 
                            <span>{{mssage.created_at}}</span>
                        </div>
                    </div>
                    <hr>
                    <p>{{mssage.body}}</p>
                </div>
            {% endfor %}
        </div>
        
        <div class="card feed">
            {% for group in grouped %}
                <a href="{% url 'room:group' group.pk %}">
                    <div class="card group-feed">
                        <p style="margin-top: 0;margin-bottom: 15px;">{{group.name}}</p>
                    </div>
                </a>
                <hr>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
