a {
    text-decoration: none !important;
    color: black !important;
}
li {
    list-style: none !important;
}
.shad {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding: 15px 13px; */
    margin: 0 0 17px 0;
}
.owl-dot span {
    background: #1d5e9b !important;
}
.owl-dot.active span {
    background: #132D46 !important;
}
/* ===============LOGIN============= */
.login-body {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-theme {
    color: #191E29 !important;
    text-align: center;
}
.btn-theme {
    background-color: #132D46 !important;
    /* border-color: #5369f8 !important; */
    color: #fff !important;
}
.pwshow {
    bottom: 146px;
    position: absolute;
    right: 51px;
    cursor: pointer;
}
.forgot_password {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ==============================*/
/* ===============FORGOT PASSWORD============= */
.auth_title {
    font-size: 25px;
    color: #006270;
}
.login-container {
    border-radius: 12px;
    box-shadow: 0 0px 28px 0 rgb(0 0 0 / 8%);
    z-index: 1;
    max-width: 50%;
}
.btn-block {
    width: 100%;
}

/* ==============================*/

/* ==================PROFILE=================*/
.profile-follow {
    display: block !important;
}

@media (max-width: 375px) {
    .profile-follow {
        display: none !important;
    }
}

@media (max-width: 425px) {
    .btn-edit-profile {
        display: none !important;
    }
}

.profile-page .profile-header {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    border: 1px solid #f2f4f9;
}

.profile-page .profile-header .cover {
    position: relative;
    border-radius: .25rem .25rem 0 0;
}


.profile-page .profile-header .cover figure {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .profile-page .profile-header .cover figure {
        height: 110px;
        overflow: hidden;
    }
}

@media (min-width: 2400px) {
    .profile-page .profile-header .cover figure {
        height: 280px;
        overflow: hidden;
    }
}

.profile-page .profile-header .cover figure img {
    border-radius: .25rem .25rem 0 0;
    width: 100%;
}

@media (max-width: 767px) {
    .profile-page .profile-header .cover figure img {
        -webkit-transform: scale(2);
        transform: scale(2);
        margin-top: 15px;
    }
}

@media (min-width: 2400px) {
    .profile-page .profile-header .cover figure img {
        margin-top: -55px;
    }
}

.profile-page .profile-header .cover .gray-shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(rgba(255, 255, 255, 0.1), #fff 99%);
}

.profile-page .profile-header .cover .cover-body {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 20px;
}

.profile-page .profile-header .cover .cover-body .profile-pic {
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

@media (max-width: 767px) {
    .profile-page .profile-header .cover .cover-body .profile-pic {
        width: 70px;
    }
}

.profile-page .profile-header .cover .cover-body .profile-name {
    font-size: 20px;
    font-weight: 600;
    margin-left: 17px;
}

.profile-page .profile-header .header-links {
    padding: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #fff;
    border-radius: 0 0 .25rem .25rem;
}

.profile-page .profile-header .header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profile-page .profile-header .header-links ul li a {
    color: #000;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.profile-page .profile-header .header-links ul li:hover,
.profile-page .profile-header .header-links ul li.active {
    color: #727cf5;
}

.profile-page .profile-header .header-links ul li:hover a,
.profile-page .profile-header .header-links ul li.active a {
    color: #727cf5;
}

.profile-page .profile-body .left-wrapper .social-links a {
    width: 30px;
    height: 30px;
}

.profile-page .profile-body .right-wrapper .latest-photos>.row {
    margin-right: 0;
    margin-left: 0;
}

.profile-page .profile-body .right-wrapper .latest-photos>.row>div {
    padding-left: 3px;
    padding-right: 3px;
}

.profile-page .profile-body .right-wrapper .latest-photos>.row>div .prof-img {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 6px;
}

.profile-page .profile-body .right-wrapper .latest-photos>.row>div .prof-img:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.profile-page .profile-body .right-wrapper .latest-photos>.row>div .prof-img img {
    border-radius: .25rem;
}

.rtl .profile-page .profile-header .cover .cover-body .profile-name {
    margin-left: 0;
    margin-right: 17px;
}

.img-xs {
    width: 37px;
    height: 37px;
}

.rounded-circle {
    border-radius: 50% !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

.card-header:first-child {
    border-radius: 0 0 0 0;
}

.card-header {
    padding: 0.875rem 1.5rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #f2f4f9;
}

.card-footer:last-child {
    border-radius: 0 0 0 0;
}

.card-footer {
    padding: 0.875rem 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid #f2f4f9;
}

.grid-margin {
    margin-bottom: 1rem;
}

.card {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}

.rounded {
    border-radius: 0.25rem !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #f2f4f9;
    border-radius: 0.25rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.img-account-profile {
    height: 10rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card .card-header {
    font-weight: 500;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
/*======================================*/

/* ==================================CHAT========================*/
.chat_active{
    background-color: #E8DDCD;
}
.chat_sent {
    display: flex!important;
    justify-content: flex-start!important;
}
.chat_receive {
    display: flex!important;
    justify-content: flex-end!important;
}
/****************************************************************/

/*==========================POST=====================================*/
@media (max-width: 768px) {
    .following {
        display: none !important;
    }
}
@media (max-width: 768px) {
    .time {
        font-size: 15px;
    }
}
/*************************************************************************/

/*==========================NAV=====================================*/
.nav-link {
    color: #FFFFFF !important;
}

.nav-user:hover .dropdown-menu {
    display: block;
}
.nav-user-image {
    border: 2px solid #009394; 
    border-radius: 50%; 
    height: 32px; 
    width: 32px;
}
/*************************************************************************/
/*==========================BACK TO TOP=====================================*/
#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 45px;
    height: 45px;
    background-color: black;
    color: white;
    cursor: pointer;
    outline: none;
    /* border: 3px solid #333; */
    border-radius: 30%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
    background-color: #333;
    color: #fff;
}
@media(max-width: 992px) {
    #back-to-top-btn {
        font-size: 22px;
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
}
@media(max-width:768px) {
    #back-to-top-btn {
        font-size: 18px;
        width: 32px;
        height: 32px;
        bottom: 9px;
        right: 12px;
    }
    .btn-arrow {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}
/* Animations */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}
/* fadeInUp */
@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}
/* fadeOutDown */
@keyframes btnExit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}
/*************************************************************************/
.not-visible {
    display: none !important;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #dfc;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

