a {
    text-decoration: none !important;
    color: black !important;
}
li {
    list-style: none !important;
}
.shad {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding: 15px 13px; */
    margin: 0 0 17px 0;
}
.owl-dot span {
    background: #1d5e9b !important;
}
.owl-dot.active span {
    background: #132D46 !important;
}
.owl-item .active {
    width: 581px !important;
}
.bottons {
    color: #fff!important;
    background-color: #6D9773 !important;
    border-color: #6D9773 !important;
    box-shadow: none;
}
.edit-bottons {
    color: #fff !important;
    background-color: #FFBA00 !important;
    border-color: #FFBA00 !important;
    box-shadow: none;
}
.fixed {
    position: fixed;
    right: 0;
    /* bottom: 0; */
    /* left: 0; */
    z-index: 1030;
}

/* ===============FORGOT PASSWORD============= */
.auth_title {
    font-size: 25px;
    color: #006270;
}
.login-container {
    border-radius: 12px;
    box-shadow: 0 0px 28px 0 rgb(0 0 0 / 8%);
    z-index: 1;
    max-width: 50%;
}
.btn-block {
    width: 100%;
}

.img-xs {
    width: 37px;
    height: 37px;
}

.rounded-circle {
    border-radius: 50% !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

.card-header:first-child {
    border-radius: 0 0 0 0;
}

.card-header {
    padding: 0.875rem 1.5rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #f2f4f9;
}

.card-footer:last-child {
    border-radius: 0 0 0 0;
}

.card-footer {
    padding: 0.875rem 1.5rem;
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid #f2f4f9;
}

.grid-margin {
    margin-bottom: 1rem;
}
.rounded {
    border-radius: 0.25rem !important;
}

.card {
    border: 1px solid #f2f4f9;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}


.rounded-circle {
    border-radius: 50% !important;
}

.card .card-header {
    font-weight: 500;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.nav-link {
    color: #FFFFFF !important;
}
.navbar-clr {
    background-color: #092c22!important;
}
.nav-user:hover .dropdown-menu {
    display: block;
}
.nav-user-image {
    border: 2px solid #009394; 
    border-radius: 50%; 
    height: 32px; 
    width: 32px;
}

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 45px;
    height: 45px;
    background-color: black;
    color: white;
    cursor: pointer;
    outline: none;
    /* border: 3px solid #333; */
    border-radius: 30%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
    background-color: #333;
    color: #fff;
}
@media(max-width: 992px) {
    #back-to-top-btn {
        font-size: 22px;
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
}
@media(max-width:768px) {
    #back-to-top-btn {
        font-size: 18px;
        width: 32px;
        height: 32px;
        bottom: 9px;
        right: 12px;
    }
    .btn-arrow {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}
/* Animations */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}
/* fadeInUp */
@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}
/* fadeOutDown */
@keyframes btnExit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}
/*************************************************************************/
