.post-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr;
}
.post-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    margin: 5px 0px;
}
.image-item{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.image-item:nth-child(3):last-child {
    grid-column: span 2;
}
.image-item:only-child {
    grid-column: span 2;
}
.image-item:nth-child(4) {
    grid-column: 2 / -1;
}
.icon-num{
    color:#B4C5DB;
}
.feed{
    background-color: #4A5B6A !important;
}
.feed-icon{
    background-color: #728495 !important;
}
.follow-btn{
    background-color: #728495 !important;   
}
.caption{
    color: #B4C5DB !important;
}
.group-feed{
    background-color: #4A5B6C !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}
.action{
    padding: 0.375rem 0.35rem !important;
}