/* ========================================================================================================================================== */
.icon-num{
    color:#B4C5DB;
}
.feed{
    background-color: #4A5B6A !important;
    height: fit-content;
}
.feed-icon{
    background-color: #728495 !important;
}
.follow-btn{
    background-color: #728495 !important;   
}
.caption{
    color: #B4C5DB !important;
}
.user-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
}
.following-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.photo-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-rows: repeat(auto-fit, 1fr);
    /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */

    /* grid-auto-rows: 240px; */
}
.image-items {
    position: relative;
    overflow: hidden;
}
.image-items img {
    width: 100%;
    height: 100%;
}
.image-item {
    height: 101px; 
    width:78px; 
    object-fit: cover;
}
.image-item:hover{
    transform: translateY(5px) scale(1.4);
    object-fit: contain;
}
.photo-prev{
    display: grid;
    gap: 7px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 6px;
}
hr{
    margin: 3px 0px;
}
.edit-bottons {
    color: #fff !important;
    background-color: #FFBA00 !important;
    border-color: #FFBA00 !important;
    box-shadow: none;
}
.follow-image{
    height: 100%;
    padding-right: 1px;
    padding-left: 1px;
    border-top-right-radius: 0.25rem !important;
    border-top-left-radius: 0.25rem !important;
}
.follow{
    background-color: #4A5B6A !important; 
    border: 1px solid #263A47;
}
label{
    font-weight: bolder;
    color: #FFA586;
}
.padding-left {
    padding-left: 4px;
}
.profile-grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 75px);
    margin-bottom: -15px;
}
.cover{
    grid-area: 1 / 1 / 7 / 8;
}
.cover-img{
    height: 376px;
    width: -webkit-fill-available;
    object-fit: fill;
    grid-area: 1 / 1 / 7 / 8;
}
.profile-pic{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 2px solid white;
}
.prof-pic {
    grid-area: 5 / 1 / 5 / 2;
    justify-self: flex-end;
}
.profile-name{
    font-size: 20px;
    font-weight: 600;
    margin-left: 17px;
    color: #bfefef;
}
.username{
    grid-area: 6 / 2 / 7 / 3;
}
.profile-button {
    grid-area: 5 / 6 / 6 / 8;
}
