{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}
{% load widget_tweaks %}
{% block chat %}<link rel="stylesheet" type="text/css" href="{% static 'main/chat.css' %}">{% endblock %}
{% block chat_js %}<script type="text/javascript" src="{% static 'main/chat.js' %}"></script>{% endblock %}

{% block body %}
<section class="chat container-fluid mt-3">
    <div class="senders">
        <div>
            <input type="text" name="" id="">
        </div>
        <hr>
        <div class="mt-3">
            {% for chat in messages %}
                <a href="{% url 'chat:chat_detail' chat.user %}">
                    <input type="hidden" name="chat_id" value="{{ chat.id }}">
                    <div class="chat-list p-2 active">
                        <input type="hidden" name="chat_pk" value="{{ chat.pk }}" id="chat_pk">
                        <img src="{{ chat.user.profile_pic.url }}" width="50" style="border-radius: 50%;">
                        <span><b>{{chat.user}}</b></span>
                        {{chat.unread}}
                    </div>
                </a>
                
                <hr><hr>
            {% endfor %}
        </div>
    </div>

    <div class="messages">
        {% if directs %}
            {% for chats in directs %}
                {% for chat in chats %}
                    <div class="border-bottom">
                        {% if chat.sender_user == request.user %}    
                            <div class='d-flex justify-content-end flex-row mt-1'>
                                <div class="d-flex flex-column me-2">
                                    <a href="">
                                        <span class="d-flex justify-content-end"><b>{{chat.sender_user|capfirst}}</b></span>
                                    </a>
                                    <span class="d-flex justify-content-end" style="font-size: 11px; color: greenyellow;">sent</span>
                                    <p>{{chat.date}}</p>
                                </div> 
                                <div>
                                    <img src="{{ chat.sender_user.profile_pic.url }}" alt="avatar" class="d-flex align-self-center" width="60" style="border-radius: 50%;">
                                </div>
                            </div>
                        {% else %}
                            <div class='d-flex justify-content-start flex-row mt-1'>
                                <div>
                                    <img src="{{ chat.sender_user.profile_pic.url }}" alt="avatar" class="d-flex align-self-center mx-2" width="60" style="border-radius: 50%;">
                                </div>
                                <div class="d-flex flex-column me-2">
                                    <a href="">
                                        <span class="d-flex justify-content-start"><b>{{chat.sender_user|capfirst}}</b></span>
                                    </a>
                                    <span class="d-flex justify-content-start" style="font-size: 11px; color: greenyellow;">receieved</span>
                                    <p>{{chat.date}}</p>
                                </div> 
                            </div>
                        {% endif %}
                        <hr style="margin: 0px !important;">
                        {% if chat.body %}
                            <p>{{chat.body}}</p>
                        {% endif %}
                        {% if chat.chat_images.all %}
                            <div class="image-grid" style="overflow-y: auto; max-height: 368px;">
                                {% for image in chat.chat_images.all %}
                                    <div class="chat-image">
                                        <img src="{{ image.image.url }}">
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        {% else %}
            <p align="center" style="height: 484px;">No new Messages.</p>
        {% endif %}

        <hr style="margin: 0px !important;">
        <div class="mt-2" style="position: relative;">
            <form action="" method="POST" id="chatform" class="">
                {% csrf_token %}
                <input type="hidden" name="receiver_user" value="{{uchat}}">
                <div class="d-flex justify-content-end flex-row"> 
                    {% render_field form.body class='form-control' placeholder='Send a Message.' %}
                    <button type="submit" class="btn bottons">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock body %}