{% extends "main/base.html" %}
{% load widget_tweaks %}
{% block title %} - Post Feed ({{post.pk}}){% endblock title %}

{% block body %}
<div class="container mt-2">
    <div class="mx-auto" id="{{post.pk}}" style="width: 670px;">
        <div class="p-2 shad">
            <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                <div class="d-flex flex-row align-items-center feed-text px-2">
                    <a href="{% url 'user:profile' post.user.pk %}">
                        <img class="rounded-circle" src="{{ post.user.profile_pic.url }}" style="object-fit: cover; width: 50px; height: 50px;">
                    </a>
                    <div class="d-flex flex-column flex-wrap mx-2">
                        <a href="{% url 'user:profile' post.user.pk %}">
                            <span style="font-weight: 600;">{{post.user|capfirst}}</span>
                        </a>
                        <span class="text-black-50 time">{{post.created_at}}</span>
                    </div>
                </div>
                {% if post.user == request.user %}
                    <div class="feed-icon px-2 dropdown">
                        <button class="btn bottons dropdown" type="button" data-bs-toggle="dropdown"  aria-expanded="false" aria-expanded="false">
                            <i class="fa fa-ellipsis-v text-black-50"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="btn dropdown-item" href="{% url 'post:delete' post.pk %}">Delete</a></li>
                            <li><a class="btn dropdown-item" href="{% url 'post:post_update' post.pk %}">Update</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="p-2 px-3">
                {% if post.caption %}
                    <span class="p-1">{{post.caption}}</span><br>
                {% endif %}
                {% if post.post_images %}
                    <div class="owl-carousel owl-theme">
                        {% for image in post.post_images.all %}
                            <img src="{{ image.image.url }}" class="item" style="object-fit: scale-down; height: 650px;">
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="d-flex justify-content-start p-1 border-top">
                <div class="btn" id="likeBTN">
                    <input type="hidden" id="post_pk" value="{{post.pk}}">
                    {% if request.user not in post.likes.all %}
                        <i class="far fa-heart" style="color: rgb(5, 92, 163);"></i>
                    {% else %}
                        <i class="fa fa-heart" style="color: red;"></i>
                    {% endif %}
                    <span id="like_count">{{post.likes_no}}</span>
                </div>
                <div class="btn">
                    <i class="fas fa-comments mx-1"></i>
                    <span>{{post.comment_no}}</span>
                </div>
            </div>
        </div>
        
        <div class="p-2 shad">
            <div class="card-header d-flex justify-content-center">
            <b>Comments</b>
            </div>
            <div class="card-body p-1">
                {% if comments %}
                    {% for comment in comments %}
                        <div class="shad">
                            <div class="card-header d-flex justify-content-between">
                                <div class="d-flex">
                                    <img class="rounded-circle mx-1" src="{{comment.user.profile_pic.url}}" alt="" style="height: 50px; width: 50px;">
                                    <div class="d-flex flex-column">
                                        <b>{{comment.user|capfirst}}</b>
                                        <div>
                                            {{comment.created_at}}
                                        </div>
                                    </div>
                                </div>

                                {% if comment.user == request.user %}
                                <div class="feed-icon px-2 dropdown ml-auto">
                                    <button class="btn bottons dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                                        aria-expanded="false">
                                        <i class="fa fa-ellipsis-v text-black-50"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="btn dropdown-item" href="{% url 'post:comm_delete' comment.pk %}">Delete</a></li>
                                        <li><a class="btn dropdown-item" href="{% url 'post:comm_update' comment.pk %}">Update</a></li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                {{comment.comment}}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="d-flex justify-content-center align-items-center">
                        <h4>Be the first to comment.</h4>
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="p-2 shad">
            <form action="{% url 'post:create_comment' %}" method="POST" id="comment_form">
                {% csrf_token %}
                <input type="hidden" name="post_comment" value="{{post.pk}}">
                <div class="d-flex justify-content-center">
                    {% render_field form.comment class='form-control' placeholder='Make a Comment.' %}
                    <button type="submit" class="btn bottons"><i class="fas fa-location-arrow"></i></button>
                </div>
            </form>
        </div>    
    </div>
</div>
{% endblock %}