{% extends "main/base.html" %}
{% load static %}
{% block title %} - Post Feed{% endblock title %}
<script type="text/javascript" src="{% static 'main/post.js' %}"></script>


{% block body %}
<div class="container mt-4 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8 infinite-container">
            {% for post in posts %}
                <div class="feed shad infinite-item rounded" id="{{post.pk}}">
                    <div class="card-header px-2">
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center feed-text px-2">
                                <a href="{% url 'user:profile' post.user.pk %}">
                                    <img class="rounded-circle" src="{{ post.user.profile_pic.url }}" style="object-fit: cover; width: 50px; height: 50px;">
                                </a>
                                <div class="d-flex flex-column flex-wrap mx-2">
                                    <a href="{% url 'user:profile' post.user.pk %}">
                                        <span style="font-weight: 600;">{{post.user|capfirst}}</span>
                                    </a>
                                    <p class="tx-11 text-muted m-0">{{post.created_at}}</p>
                                </div>
                            </div>
                            {% if post.user == request.user %}
                                <div class="feed-icon px-2 dropdown">
                                    <button class="btn bottons dropdown" type="button" data-bs-toggle="dropdown"  aria-expanded="false" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v text-black-50"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="btn dropdown-item" href="{% url 'post:delete' post.pk %}">Delete</a></li>
                                        <li><a class="btn dropdown-item" href="{% url 'post:post_update' post.pk %}">Update</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="p-2 px-3">
                        <a href="{% url 'post:detail' post.pk %}">
                            {% if post.caption %}
                                <span>{{post.caption}}</span><br>
                            {% endif %}
                            {% if post.post_images %}
                                <div class="row owl-carousel owl-theme">
                                    {% for image in post.post_images.all %}
                                            <img src="{{ image.image.url }}" class="item" style="object-fit: cover; height: 500px;">
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </a>
                    </div>
                    <div class="d-flex justify-content-start p-1 border-top">
                        <div class="btn" id="likeBTN">
                            <input type="hidden" id="post_pk" value="{{post.pk}}">
                            {% if request.user not in post.likes.all %}
                                <i class="far fa-heart" style="color: rgb(5, 92, 163);"></i>
                            {% else %}
                                <i class="fa fa-heart" style="color: red;"></i>
                            {% endif %}
                            <span id="like_count">{{post.likes_no}}</span>
                        </div>
                        <a class="btn" href="{% url 'post:detail' post.pk %}">
                            <i class="fas fa-comments mx-1"></i><span>{{post.comment_no}}</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
         <div class="col-md-4 following">
            <div class="shad" style="padding: 15px 13px;">
                {% for following in request.user.get_following %}
                    <ol class="py-1 my-1 border-bottom" style="padding-left: 0;">
                        <a href="{% url 'user:profile' following.pk %}">
                            <img class="rounded-circle mx-1" src="{{ following.profile_pic.url }}" style="object-fit: cover; width: 50px; height: 50px;">
                            <b>{{following|capfirst}}</b>
                        </a>
                    </ol>
                {% endfor %}
            </div>

            <div class="card rounded">
                <div class="card-body">
                    <div class="d-flex justify-content-center mb-2">
                        <h6 class="card-title border-bottom p-2"><b>People you may know</b></h6>
                    </div>
                    {% for prof in users %}
                        <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                            <div class="d-flex align-items-center hover-pointer">
                                <a href="{% url 'user:profile' prof.pk %}">
                                    <img class="img-xs rounded-circle" src="{{ prof.profile_pic.url }}" alt="">
                                </a>
                                <div class="mx-2">
                                    <a href="{% url 'user:profile' prof.pk %}">
                                        <p class="mb-1">{{prof|capfirst}}</p>
                                    </a>
                                    <p class="tx-11 text-muted mb-1">{{mutualfriends_num}} Mutual Friends</p>
                                </div>
                            </div>
                            <form action="{% url 'user:follow' request.user.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="prof_pk" value="{{ prof.pk }}">
                                <button id="follow" class="btn bottons" type="submit" style="margin-left: 15px;">Follow</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
         </div>
    </div>
</div>
{% endblock %}