{% extends "main/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %} - Post Feed{% endblock title %}
{% block post %}<link rel="stylesheet" type="text/css" href="{% static 'main/post.css' %}">{% endblock %}
{% block post_js %}<script type="text/javascript" src="{% static 'main/post.js' %}"></script>{% endblock %}

{% block body %}
<section class="post-grid mt-4 container">
    <div id="post-container">
        {% for post in posts %}
            <div class="feed shad rounded py-2" data-post-id="{{ post.pk }}" id="single-post">
                <div class="d-flex flex-row justify-content-between py-1 align-items-center border-bottom">
                    <div class="d-flex flex-row align-items-center feed-text px-2">
                        <a href="{% url 'user:profile' post.user.pk %}">
                            <img class="rounded-circle" src="{{ post.user.profile_pic.url }}" style="object-fit: cover; width: 50px; height: 50px;">
                        </a>
                        <div class="d-flex flex-column flex-wrap mx-2">
                            <a href="{% url 'user:profile' post.user.pk %}">
                                <span><b>{{post.user|capfirst}}</b></span>
                            </a>
                            <p class="tx-11 m-0 icon-num">{{post.created_at|custom_timesince}}</p>
                        </div>
                    </div>
                    {% if post.user == request.user %}
                        <div class="px-2 dropdown">
                            <button class="btn bottons dropdown feed-icon" type="button" data-bs-toggle="dropdown"  aria-expanded="false" aria-expanded="false">
                                <i class="fa fa-ellipsis-v text-black-50"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="btn dropdown-item" href="{% url 'post:delete' post.pk %}">Delete</a></li>
                                <li><a class="btn dropdown-item" href="{% url 'post:post_update' post.pk %}">Update</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="p-2 px-3">
                    <a href="{% url 'post:detail' post.pk %}">
                        {% if post.caption %}
                            <span>{{post.caption}}</span><br>
                        {% endif %}
                        {% if post.post_images %}
                            {% comment %} <div class="photo-grid">
                                {% for image in post.post_images.all|slice:":4" %}
                                    <div class="image-item">
                                        <img src="{{ image.image.url }}">
                                    </div>
                                {% endfor %}
                            </div> {% endcomment %}
                            <div class="post-image">
                                {% for image in post.post_images.all|slice:":4" %}
                                    <img class="image-item" src="{{ image.image.url }}" alt="">
                                {% endfor %}
                            </div>
                        {% endif %}
                    </a>
                    <!-- <div class="d-flex flex-row">
                        {% if post.tags %}
                            {% for tag in post.tags.all %}
                                <p style="background-color: #191f25; padding: 2px; margin: 2px; color: white;">#{{tag.tag}}</p>
                            {% endfor %}
                        {% endif %}
                    </div> -->
                </div>
                <div class="d-flex justify-content-start p-1 px-4 border-top">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <button class="btn action" id="like-button" value="{{post.pk}}" data-url="{% url 'post:like' pk=post.pk %}"> 
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <!-- {% if request.user in post.likes.all %}
                            <i class="fas fa-heart" id="heartIcon"></i>
                        {% else %}
                            <i class="far fa-heart"  id="heartIcon"></i>
                        {% endif %} -->
                        <i class="far fa-heart {% if request.user in post.likes.all %}fas{% endif %}"  id="heartIcon{{post.pk}}"></i>
                        <span class="icon-num" id="like-count{{post.pk}}">{{post.likes_num}}</span>
                    </button>
                    <a class=" action" href="{% url 'post:detail' post.pk %}">
                        <i class="fas fa-comments icon"></i>
                        <span class="icon-num">{{post.comment_no}}</span>
                    </a>
                    <div class="action">
                        <i class="fa-solid fa-eye"></i>
                        <span class="icon-num black">{{post.post_view}}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="">
        <div class="shad feed" style="padding: 0px 13px 5px;">
            <div class="d-flex justify-content-center mb-2">
                <h6 class="card-title border-bottom p-2"><b>Your Groups</b></h6>
            </div>
            {% for mssage in grp_msgs|slice:":6" %}
                <div class="group-feed message mb-1" style="border: 1px solid #7F03BB;padding: 5px;border-radius: 6px;">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row feed-text">
                            <a href="{% url 'user:profile' mssage.user.pk %}">
                                <img class="rounded-circle" src="{{ mssage.user.profile_pic.url }}" style="object-fit: cover; width: 40px; height: 40px;">
                            </a>
                            <div class="d-flex flex-column flex-wrap mx-2">
                                <a href="{% url 'user:profile' mssage.user.pk %}">
                                    <span>{{mssage.user|capfirst}}</span>
                                </a>
                                <p class="tx-11 m-0 icon-num" style="font-size: 11px;">{{mssage.created_at|custom_timesince}}</p>
                                <span style="font-size: 14px;">sent to the group <a href="{% url 'room:group' mssage.room.pk %}" style="font-weight: bold; color: #1733B8 !important;">{{mssage.room}}</a></span>
                            </div>
                        </div>
                    </div>
                    <p class="px-3" style="color: white; background-color: #191f25; border-radius: 10px; padding: 5px;">{{mssage.body}}</p>
                </div>
                <hr>
            {% endfor %}
            <div class="d-flex justify-content-end mb-2">
                <a href="{% url 'room:groups' %}" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}