{% extends "main/base.html" %}
{% block title %} - Post Feed{% endblock title %}

{% block body %}
<div class="container mt-4 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex justify-content-center" id="spinner-box">
                <div class="lds-ripple">
                    <div></div>
                    <div>
                    </div>
                </div>
            </div>
            
            <div id="post2">
                <h6>Ajax Post</h6>
            </div>
        </div>
        <div class="col-md-4 following" >
            <div class="shad" style="padding: 15px 13px;">
                {% for following in request.user.get_following %}
                    <ol class="py-1 my-1" style="padding-left: 0;">
                        <a href="{% url 'user:profile' following.pk %}">
                            <img class="rounded-circle mx-1" src="{{ following.profile_pic.url }}" style="object-fit: cover; width: 50px; height: 50px;">
                            <b>{{following|capfirst}}</b>
                        </a>
                    </ol>
                {% endfor %}
            </div>

            <div class="card rounded">
                <div class="card-body">
                    <h6 class="card-title d-flex justify-content-center border-bottom p-2"><b>People you may know</b></h6>
                    {% for prof in users %}
                        <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                            <div class="d-flex align-items-center hover-pointer">
                                
                                <a href="{% url 'user:profile' prof.pk %}">
                                    <img class="img-xs rounded-circle" src="{{ prof.profile_pic.url }}" alt="">
                                </a>
                                    <div class="mx-2">
                                        <a href="{% url 'user:profile' prof.pk %}">
                                            <p class="mb-1">{{prof|capfirst}}</p>
                                        </a>
                                        <p class="tx-11 text-muted mb-1">{{mutualfriends_num}} Mutual Friends</p>
                                    </div>
                                
                            </div>
                            <form action="{% url 'user:follow' user_self.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="prof_pk" value="{{ prof.pk }}">
                                <button id="follow" class="btn btn-primary btn-icon" type="submit" style="margin-left: 15px;">Follow</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}