{% extends 'user/profile.html' %}
{% load static %}
{% block user %}<link rel="stylesheet" type="text/css" href="{% static 'main/user.css' %}">{% endblock %}

{% block following %}
<section class="user-grid">
    
    {% include "user/left.html" %} 
    
    <div class="feed p-2">
        <div class="following-grid">
            {% for followingg in following %}
                <a href="{% url 'user:profile' followingg.pk %}" class="card follow">
                    <img class="follow-image"src="{{ followingg.profile_pic.url }}" alt="">
                    <p class="m-0" style="text-align: center; font-size: 14px;
                    font-weight: 500;">{{followingg|capfirst}}</p>
                </a>
            {% endfor %}
        </div>
    </div>
    <div>
        {% include "user/right.html" %}
    </div>


</section>
{% endblock following %}