{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} - {{profile}}{% endblock title %}
{% block user %}<link rel="stylesheet" type="text/css" href="{% static 'main/user.css' %}">{% endblock %}
{% block user_js %}<script type="text/javascript" src="{% static 'main/user.js' %}"></script>{% endblock %}

{% block body %}
<div class="mt-2">
    <div class="profile-grid">
        <div class="cover">
            <img class="cover-img" src="{{ profile.cover_pic.url }}">
        </div>
        <div class="prof-pic">
            <img class="profile-pic" src="{{ profile.profile_pic.url }}">
        </div>
        <div class="username">
            <span class="profile-name">{{ profile.username|capfirst }}</span>
        </div>
        <div class="profile-button" id="profile-button">
            {% if profile == request.user %}
                <div class="d-flex flex-row">
                    <button type="button" class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Post
                    </button>
                    <a class="btn edit-bottons mx-1" href="{% url 'user:update' profile %}">
                        <i class="far fa-edit"></i> Edit profile
                    </a>
                </div>
            {% else %}
                <div class="d-flex flex-row">
                    <a href="" class="btn btn-primary mx-1 text-white">Send Message</a>
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    
                    <button class="btn btn-primary {% if request.user in profile.following.all %}btn-danger{% endif %}" id="fllw-btn" data-url="{% url 'user:follow' pk=profile.pk %}" data-user-id="{{ profile.pk }}"> 
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        {% csrf_token %}
                        {{button_text}}
                    </button>
                </div>
            {% endif %}
        </div>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </div>
    <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create a post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        <label class="small mb-1" for="inputCaption">Caption</label>
                        {% render_field form.caption class='form-control' %}
                        
                        <label class="small mb-1" for="inputimages">Image</label><br>
                        <input class="form-control" type="file" multiple name="images" accept="image/*" id="id_images">
                        
                        {% render_field imageform.image class='form-control' %}
                        {{imageform.management_form}}
                        {% for form in imageform %}
                            {{form}}
                            <label class="small mb-1" for="inputimages">Image</label><br>
                            <input class="form-control" type="file" name="images" accept="image/*" id="id_images">
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn bottons">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% block timeline %}
    {% endblock timeline %}
    
    {% block following %}
    {% endblock following %}
</div>
{% endblock body %}
