{% if photos %}
    {% if photos.count > 0 %}
    <div class="feed pb-1">
        <div class="rounded">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <b>Photos</b>
                    {% if photos.count > 9 %}
                        <div class="feed-icon px-2">
                            <a href="">more<i class="fas fa-angle-double-right"></i></a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="photo-prev">
                {% for photo in photos %}
                    {% if forloop.counter <= 9 %}
                        <img class="image-item" src="{{ photo.image.url }}" alt="" style="">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% else %}
    <div class="feed pb-1">
        <div class="rounded">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <b>Photos</b>
                </div>
            </div>
        </div>
    </div>
{% endif %}